---
layout: markdown_page
title: "Group Direction - AI Framework"
description: "Building common tools to support GitLab teams integrating AI/ML technologies"
canonical_path: "/direction/ai-powered/ai_framework/"
---

## On this page
{:.no_toc}

- TOC
{:toc}


## Overview

The AI Framework group is a team focused on increasing the pace of adoption and innovation with advanced AI/ML technologies while ensuring quality. The team is developing tools that other engineers and product people can utilize to enrich their product offering.

The introduction of new capabilities and technologies in the AI/ML space, specifically with the widespread use of LLM’s created a tectonic shift in customer expectations. However, these new capabilities do not change an old truth: teams still need to obsess over their customers' needs and have a deep understanding of their problems, so they can create solutions best suited to their use cases. 

To enable teams to focus exactly on these things, our aim is to remove the technical heavy lifting from the equation, so as an organization we can focus on results for customers. 

AI is moving at an ever-increasing pace, and the responsibility of the AI Framework group is to ensure that it will not only keep up but will lead the way, with novel and innovative approaches to create efficiencies across the entire DevSecOps cycle. Our implementation of the [Abstraction layer](/ai_abstraction_layer) is designed to enable a plug-and-play infrastructure that brings AI as a service to the GitLab platform.

### Goals

We aim to:
1. Increase the velocity of AI-powered feature development.
2. Increase the quality of AI-powered features in the platform.
3. Increase the adoption of GitLab as a platform.

## Categories

This group consists of the following category:
- **[Abstraction layer](/ai_abstraction_layer):** An AI Architecture to standardize and abstract AI/ML technologies within GitLab.


<p align="center">
    <i><br>
    Last Reviewed: 2024-01-02<br>
    Last Updated: 2024-01-02
    </i>
</p>